  body {
    color: white;
    -webkit-user-select: none;
  -webkit-app-region: drag;
  /* font-family: Arial, Helvetica, sans-serif; */
  }

  @font-face{
    font-family: clock;
    src:url('./fonts/Orbitron-Regular.ttf')
  }

  button {
    -webkit-app-region: no-drag;
    padding: 8px;
    margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

  .break:hover {
    background-color: #2EE59D;
    color: #fff;
    transform: translateY(-4px);
  }
  .start:hover {
    background-color: #09a366;
    color: #fff;
    transform: translateY(-4px);
  }
  .stop:hover {
    background-color: #ad0d0d;
    color: #fff;
    transform: translateY(-4px);
  }
  .pause:hover {
    background-color: #c99d0c;
    color: #fff;
    transform: translateY(-4px);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .hidden{
    display: none;
}

.onIdle{
    background: linear-gradient(-45deg, #FF6200, #FD7F2C, #FD9346, #FDA766);
    background-size: 500% 500%;
    animation: gradient 7s ease infinite;
  }

  .onBreak{
    background: linear-gradient(-45deg, #2EB62C, #57C84D, #83D475, #ABE098);
    background-size: 500% 500%;
    animation: gradient 7s ease infinite;
  }
  .onWork{
    background: linear-gradient(-45deg, #DC1C13, #EA4C46, #F07470, #F1959B);
    background-size: 500% 500%;
    animation: gradient 7s ease infinite;
  }

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-area: span;
  column-gap: 0.5rem;
}
.grid-item{
  background: #ffffff41;
  border-radius: 4px;
  height: 80vh;
  padding: 8px;
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'clock';
  text-align: center;
}
.button-container{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
}
.window-button-container{
  position: absolute;
  right:10px;
  top:8px;
  overflow: hidden;
}
.window-button{
  margin: 0px;
  border-radius: 1000px !important; 
  padding: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.min{
  background-color: rgb(255, 255, 0);
}
.close{
  background-color: #ff0d00;
}